<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section1</key>
	<array>
		<string>日時</string>
		<string>場所</string>
		<string>費用</string>
		<string>参加対象</string>
		<string>参加条件</string>
	</array>
</dict>
</plist>
